body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tasklist {
    padding: 50px;

    span {
        margin-right: 20px;
    }

    .deletemsg {
        color: green;
        border: 1px solid green;
        border-width: 1px 0;
        background-color: #bbEEbb;
        padding: 10px 5px;
    }
}

.taskdetails {
    padding: 50px;

    a {
        color: red;
    }

    .msg {
        color: blue;
        border: 1px solid blue;
        border-width: 1px 0;
        background-color: #bbbbEE;
        padding: 10px 5px;
    }
}